<div class="input">
    <label for="userInput">Type something:</label>
    <input id="userInput" [(ngModel)]="userInput" (input)="onDebounceSearching$.next($event)" placeholder="Type here" />
    <mat-icon *ngIf="userInput" (click)="clearInput()" class="clear">close</mat-icon>
</div>

<div>
    <span>You typed:</span>
    <span [innerHTML]="userInput | detectLink"></span>
</div>

<div *ngIf="movies?.Response === 'False'">{{movies.Error}}</div>
<div *ngIf="loading">loading...</div>

<div *ngIf="movies?.Response === 'True'">
    <label>Select All</label>
    <mat-checkbox [(ngModel)]="isCheckedAll" (change)="handleSelectAll()"></mat-checkbox>
</div>

<div class="list">
    <div class="item" *ngFor="let movie of movies?.Search">
        <mat-checkbox type="checkbox" [(ngModel)]="movie.Checked" (change)="handleItemCheck(movie)"></mat-checkbox>
        <img [src]="movie?.Poster !== 'N/A' ? movie?.Poster : '/assets/images/common/no-image.jpg'" alt="">
        <div class="box">
            <div class="wrapper">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2>{{movie?.Title}}</h2>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="description">
                        <span>{{movie?.Type}}</span>
                        <span>{{movie?.Year}}</span>
                        <span>{{movie?.imdbID}}</span>
                    </p>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>