.input {
    display: flex;
    align-items: center;
    .clear {
        cursor: pointer;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    .item {
        $items-per-row: 3;
        border-radius: 10px;
        border: solid 1px #888;
        display: flex;
        flex-direction: column;
        position: relative;
        width: calc(100% / $items-per-row - 10px); /* Adjust the width as needed */
        img {
            width: 100%;
        }
        .box {
            padding: 10px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .wrapper {
                background-color: aliceblue;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                margin-top: 10px;
                padding: 10px;
                .description {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

h2 {
    margin: 0; /* Remove default margin from h2 element */
}