<div>
    <label for="userInput">Type something:</label>
    <input id="userInput" [(ngModel)]="userInput" (input)="onDebounceSearching$.next($event)" placeholder="Type here" />
</div>

<div>
    <span>You typed:</span>
    <span [innerHTML]="userInput | detectLink"></span>
</div>

<div *ngIf="movies?.Response === 'False'">{{movies.Error}}</div>
<div *ngIf="loading">loading...</div>

<div *ngIf="movies">
    <label>Select All</label>
    <!-- <input type="checkbox" (change)="handleSelectAll($event?.tar)"> -->
    <mat-checkbox 
        (change)="handleSelectAll($event.checked)"
    >

    </mat-checkbox>
</div>

<div class="list">
    <div class="item" *ngFor="let movie of movies?.Search">
        <mat-checkbox type="checkbox" [checked]="movie?.Checked"></mat-checkbox>
        <img [src]="movie?.Poster !== 'N/A' ? movie?.Poster : '/assets/images/common/no-image.jpg'" alt="">
        <div class="box">
            
            <div class="wrapper">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Movie detail
                            <h2>{{movie?.Title}}</h2>
                        </mat-panel-title>
                        <mat-panel-description>
                            Des
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>
                        <span>{{movie?.Type}}</span>
                        <span>{{movie?.Year}}</span>
                        <span>{{movie?.imdbID}}</span>
                    </p>
                </mat-expansion-panel>
            </div>
            
        </div>

        
    </div>
</div>